.btn {
    margin: 15px 0;
}

#loadingImg {
    display: none;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.welcome h3 {
    float: left;
    text-decoration: underline;
}

.welcome div {
    clear: both;
}

.welcome p {
    float: left;
    padding-right: 10px;
}

::-webkit-input-placeholder {
    color: #ccc;
}

#loginModal {
    color: #1fa67b;
}

    #loginModal table {
        position: relative;
        margin: auto;
    }

        #loginModal table input {
            border-radius: 5px;
            border: solid 1px #CCC;
            margin: 10px;
            padding: 3px 10px;
            color: #000;
        }

            #loginModal table input[type="button"] {
                width: 94%;
                background: #1fa67b;
                color: #FFF;
            }

        #loginModal table span {
            float: left;
            font-size: 12px;
            color: #f00;
            padding-left: 23px;
        }

#registerModal {
    color: #1fa67b;
}

    #registerModal table {
        position: relative;
        margin: auto;
    }

        #registerModal table input {
            border-radius: 5px;
            border: solid 1px #CCC;
            margin: 10px;
            padding: 3px 10px;
            color: #000;
        }

            #registerModal table input[type="button"] {
                width: 94%;
                background: #1fa67b;
                color: #FFF;
            }

        #registerModal table span {
            float: left;
            font-size: 12px;
            color: #f00;
            padding-left: 23px;
        }
